<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Visionify β版</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
      .ibox {
        width:320px;
        height:320px;
        vertical-align:bottom;
        border:2px dotted rgb(22, 98, 101);
        border-radius:5%;
        margin:12px;
      }
      img {
        height: 250px;
        width: 250px;
      }
      .header {
        margin-bottom: 12px;
      }
      h1 {
        color: gray;
      }
      nav {
        height: 65px;
      }
    </style>
  </head>
  <body>
      <div class="header">
      <nav class="navbar navbar-dark bg-dark">
        <p id="logo">
        <img style="height:50px;width:50px;margin-right:12px" src="{{url_for('static', filename='img/logo.png')}}">
        <font color="white">Visionify β版</font>
        </p>
      </nav>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-12">
          <form id="ul_form">
            <label>
            <div class="btn btn-primary">
              ファイル選択
              <input type="file" name="img_file" accept="image/*" style="display:none">
            </div>
            </label>
            <button type="button" class="btn btn-primary" id="upload_btn">アップロード</button>
            {% if img_url %}
            <button type="button" class="btn btn-primary" id="recog_button">画像認識</button>
            {% endif %}
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12 ibox" id="img_box">
        {% if img_url %}
          <img id="uld_img" src="{{img_url}}">
          <form id="recog_form">
            <input type="hidden" name="img_path">
          </form>
          <p>アップロードされた画像</p>
        {% else %}
          <h1>画像をアップロードしてください。</h1>
        {% endif %}
        </div>
        <div class="col-12 ibox" id="res_box">
          {% if pred_label %}
          <h1>{{pred_label}}</h1>
          {% else %}
          <h1>画像認識結果がここに表示されます</h1>
          {% endif %}
        </div>
      </div>
      </div>
</div>

  </body>
  <script>
    $(function(){
      $('input[type=file]').after('<span></span>');
      // アップロードするファイルを選択
      $('input[type=file]').change(function() {
        var file = $(this).prop('files')[0];
      
        // 画像以外のアップロード禁止
        if (! file.type.match('image.*')) {
          // クリア
          $(this).val('');
          return;
        }
      
        // 画像表示 (File APIを利用するのでIE9以下では使用不可)
        var reader = new FileReader();
        reader.onload = function() {
          var img_src = $("<img id='img_bef'>").attr('src', reader.result);
          $('#img_box').html(img_src);
          $('<p>アップロード前画像（選択中）</p>').insertAfter('#img_bef')
        }
        reader.readAsDataURL(file);
      });
        $("#upload_btn").on("click", function(){
          $("#ul_form").attr("target", "_self");
          $("#ul_form").attr("method", "post");
          $("#ul_form").attr("action", "{{url_for('upload')}}");
          $("#ul_form").attr("enctype", "multipart/form-data");
          $("#ul_form").submit();
        })

        $("#recog_button").on("click", function(){
          $("input[name='img_path']").val($("#uld_img").attr("src"));
          $("#recog_form").attr("target", "_self");
          $("#recog_form").attr("method", "post");
          $("#recog_form").attr("action", "{{url_for('recognition')}}");
          $("#res_box").html('<h1>画像認識中・・・</h1>')
          $("#recog_form").submit();
        })
        $("#logo").on("click", function(){
          window.location = "{{url_for('index')}}";
        })
    });
  </script>
</html>